h1 {
	text-align: center;
	font-style: oblique;
	color: white;
}

.table {
	color: white;
}

h2 {
	color: white;
}

body {
	background-color: rgb(68, 67, 67);
}

.button1 {
	margin-top: 50px;
	height: 75px;
	width: 75px;
	background-color: red;
	border-radius: 50%;
}

.button2 {
	height: 75px;
	width: 75px;
	background-color: blue;
	border-radius: 50%;
}

.button3 {
	height: 75px;
	width: 75px;
	background-color: yellow;
	border-radius: 50%;
	margin-left: 100px;
}

.button4 {
	height: 75px;
	width: 75px;
	background-color: green;
	border-radius: 50%;
}

#startButton {
	text-align: center;
}

.align {
	display: flex;
	justify-content: center;
}

.top-row {
	display: flex;
	justify-content: center;
	;
}

.middle-row {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px auto;
}

.bottom-row {
	display: flex;
	justify-content: center;
}